<div class="container">
  <div class="introduce">
    <div class="introduce-title">
      <h1>Conheça as principais funções do Task Manager até o momento</h1>
    </div>
    <div class="introduce-phrase">Estamos sempre procurando aperfeiçoar nosso sistema para atender as suas necessidades
    </div>
    <mat-icon class="introduce-title">keyboard_arrow_down</mat-icon>
  </div>

  <div class="features">

    <div class="feature">
      <div class="feature-title">
        <h1>Adicione, <br> remova, <br> e edite e usuários</h1>
        <hr>
      </div>
      <div>
        <img class="background-image" src="./image.png" alt="">
      </div>
    </div>

    <mat-divider class="divider mat-elevation-z4"></mat-divider>

    <div class="feature">
      <div>
        <img class="background-image" src="./image.png" alt="">
      </div>
      <div class="feature-title">
        <h1>Crie e <br> gerencie projetos</h1>
        <hr>
      </div>
    </div>

    <mat-divider class="divider mat-elevation-z4"></mat-divider>

    <div class="feature">
      <div class="feature-title">
        <h1>Trabalhe tarefas <br> de maneira organizada</h1>
        <hr>
      </div>

      <div>
        <img class="background-image" src="./image.png" alt="">
      </div>
    </div>

  </div>
</div>
